:root{
    /* Background */
    --content-bg-color: #314277;
    /* Color */
    --text-color: #ea6154;
}

body {
    overflow-y: hidden;
    background-color: var(--content-bg-color);
}

h3, h6 {
    font-family: var(--font-family-monospace);
    color: var(--text-color);
    padding-top: 10px;
}

.title-test{
    color:red;
}

.card-img-left{
    margin: 0 auto;
    width: 96px;
    height: 96px;

}