{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="{% static 'weather/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <script type="text/javascript" src="{% static 'weather/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'weather/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block head %}
    {%  endblock %}
</head>
<body>
    <section class="">
        <div class="hero-body">
            <div class="container">
              <div class="content" style="overflow-x: hidden">
            <div class="middlebar" style="height: 55px; display: flex">{% block middlebar %}{% endblock %}</div>
            <main role="main">{% include 'weather/partials/messages.html' %}{% block content %}{% endblock %}</main>
            </div>
            </div>
        </div>
    </section>


</body>
<footer>
  <!-- Copyright -->
  <div class="text-center p-3">
    © {% now "Y"  %} Copyright:
    <a href="https://idrisbouzidi.fr">Idris BOUZIDI</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<script type="text/javascript">
</script>

{% block script %}
{% endblock %}
</html>